<header>
  <h1>TinyApp</h1>
</header>


    <% if (username) { %>
      <form action="/logout" method="POST">
              <input type="text" name="username" placeholder="<%= username %>" disabled style="width: 300px; margin: 1em">

        <button type="submit" class="btn btn-primary">Logout</button>
      </form>
    <% } else { %>
    <form action="/login" method="POST">
  <label for="username">Username:</label>
      <input type="text" name="username" placeholder="" style="width: 300px; margin: 1em">
      <button type="submit" class="btn btn-primary">Login</button>
      </form>
    <% } %>
